<div style="position: absolute; bottom: 0; right: 25%;" class="uk-alert-danger" uk-alert>
  <a class="uk-alert-close" uk-close></a>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
</div>
